<!DOCTYPE html>
{% load staticfiles %}
<html class="no-js" lang="en">

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Phasors - Passing the Knowledge</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- script
    ================================================== -->
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/pace.min.js' %}"></script>
</head>
<style type="text/css">
    body{
        font-family: 'Roboto', sans-serif;
    }
</style>

<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">
        <div class="header-logo">
            <a class="site-logo" href="#">
                <div style="float:left;">
                    <img class="header-logo-img" src="{% static 'images/phasors.jpeg' %}" alt="Homepage" align="left" width="3000" height="3000" />
                </div>
                <div style="float:left;">
                    <span class="header-logo-text" style="">PHASORS</span>
                    <!-- <span class="header-logo-text">PHASORS</span> -->
                </div>
            </a>
        </div>
        <nav class="header-nav">

            <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

            <div class="header-nav__content">
                <h3>Navigation</h3>
                
                <ul class="header-nav__list">
                    <li class="current"><a class="smoothscroll"  href="#home" title="home">Home</a></li>
                    <li><a href="/tips" title="Tips & Tricks">Tips & Tricks</a></li>
                    <li><a   href="#" title="Practice">Practice</a></li>
                    <!-- <li><a class="smoothscroll"  href="#outreach" title="outreach">Outreach</a></li> -->
                    <li><a   href="#" title="Mock Tests">Mock Tests</a></li>
                    <li><a   href="#" title="Forum">Forum</a></li>
                </ul>
    
                <!--<p>Check out our other cool pages for a deeper insight of our Makerspace!</p>-->
                
                <!-- <ul class="header-nav__social">
                    <li>
                        <a href="https://www.facebook.com/TheInnovationGarage/"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://ignitw.wordpress.com/"><i class="fa fa-wordpress"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/ig_nitw/"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="mailto:ig-nitw@student.nitw.ac.in"><i class="fas fa-envelope"></i></a>
                    </li>
                </ul> -->

            </div> <!-- end header-nav__content -->

        </nav>  <!-- end header-nav -->

         <a class="header-menu-toggle" href="#0">
            <span class="header-menu-text">Menu</span>
            <span class="header-menu-icon"></span>
        </a> 

    </header> <!-- end s-header -->


    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="{% static 'images/background.png' %}" data-natural-width=3000 data-natural-height=1500 data-position-y=center>

        <div class="overlay"></div>
        <div class="shadow-overlay"></div>

        <div class="home-content">
            <div class="row home-content__main">
                <h2>
                    We are hear Passing the Knowledge<br>
                </h2>
                {% if auth %}
                    <div class="home-content__buttons">
                        <a href="/portal" class="btn btn--stroke">
                            {% if mentor %}
                                Mentor Portal
                            {% else %}
                                Student Portal
                            {% endif %}
                        </a>
                        <a href="/auth/logout/" class="btn btn--stroke">
                            Logout
                        </a>
                    </div>
                {% else %}
                    <div class="home-content__buttons">
                        <a href="/auth/signupmentor/" class="btn btn--stroke">
                            Mentor Login
                        </a>
                        <a href="/auth/signup/" class="btn btn--stroke">
                            Student Login
                        </a>
                    </div>
                {% endif %}
            </div>

            <div class="home-content__scroll">
                <a href="#about" class="scroll-link smoothscroll">
                    <span>Scroll Down</span>
                </a>
            </div>

            <div class="home-content__line"></div>

        </div> <!-- end home-content -->


        <!-- <ul class="home-social">
            <li>
                <a href="https://www.facebook.com/TheInnovationGarage/"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
                <a href="https://ignitw.wordpress.com/"><i class="fa fa-wordpress"></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/ig_nitw/"><i class="fa fa-instagram"></i></a>
            </li>
            <li>
                <a href="mailto:ig-nitw@student.nitw.ac.in"><i class="fa fa-envelope"></i></a>
            </li>
        </ul>  -->
        <!-- end home-social -->

    </section> <!-- end s-home -->


    <!-- about
    ================================================== -->
    <section id='about' class="s-about" style="background-image: url('/static/images/green.pngl'); background-size: cover;">

        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead subhead--dark">Hello There</h3>
                <h1 class="display-2 display-1--light">We Are Phasors</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row about-desc" data-aos="fade-up">
            <div class="col-full">
                <p>
                        Phasors, a platform where students from various IITs and NITs,join together to help the upcoming JEE aspirants reach their goals and make their path smooth and easy. Phasors also help enlighten the obscured path of these aspirants. 

                </p>
                <p>       
                        Afterall, a light of hope emerges from the tales of those who succeeded.Unlike any other portal or platform, Phasors aims to deliver an all round guidance to these aspirants. Phasors believes that the journey of these aspirants is  entirely for one's own dreamland, one's own target.  Phasors is the brainchild of those people who fancy helping and passing on knowledge
                </p>         
                
            </div>
        </div> <!-- end about-desc -->

        
        <div class="about__line"></div>

    </section> <!-- end s-about -->


    <!-- services
    ================================================== -->
    <section id='works' class="s-services">

        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">What We Do</h3>
                <h1 class="display-2">We are hear to pass knowledge to rural and other people</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row services-list block-1-2 block-tab-full">

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <i class="icon-wrench"></i>
                </div>
                <div class="service-text">
                    <p style="font-size: 20px;">Phasors does not believe in White Noise guidance. We only believe in the idea of one tune that resonated with one's dream. At phasors, we make customised guidance for each aspirant. And all this is purely out of our experience. We heart fully appreciate the people who offered their helping hand and are very passionate towards passing on the knowledge and help our juniors. 

                    </p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <i class="icon-earth"></i>
                </div>
                <div class="service-text">
                    <p style="font-size: 20px;">If you think why we're doing this customised help, well the answer is easy. It's ofcourse the passion and yeah, who doesn't want to be a hero ;).
                    At phasors, we understand an aspirant, his problem and offer solution and guidance to his problem. Our online portal is always open and welcomes any kind of queries, technical or non technical
                    </p>
                </div>
            </div>

            <!-- <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <i class="icon-megaphone"></i>
                </div>  
                <div class="service-text">
                    <h3 class="h2">Seminars</h3>
                    <p>Ever felt the need for a little bit of motivation or creative spark? 
                        IG conducts seminars and talks by eminent experts in the field of technology, 
                        to get your creative juices flowing. 
                    </p>
                </div>
            </div> -->

            <!-- <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <i class="icon-group"></i>
                </div>
                <div class="service-text">
                    <h3 class="h2">Incubating Startups</h3>
                    <p>Have a brilliant working idea but don’t know what to do with it? Make a startup. 
                    Many startups have been incubated in IG, with IG providing them working space.

                    </p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <i class="icon-cube"></i>
                </div>
                <div class="service-text">
                    <h3 class="h2">Workshops</h3>
                    <p>Teaching the basics of various technical topics in an interactive manner, 
                    by those with prior experience in it. We have had workshops on topics ranging from Arduino to Game development.

                    </p>
                </div>
            </div>
    
            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon"><i class="icon-lego-block"></i></div>
                <div class="service-text">
                    <h3 class="h2">Projects</h3>
                    <p>Projects - The coolest part of it all. 
                    People in IG have worked on projects on nearly every field of technology and of varying complexity levels- 
                    ranging from simple household hacks to complex systems including drone surveillance. 
                        Have a problem you wanna work on? Jump in.

                    </p>
                </div>
            </div> -->

        </div> <!-- end services-list -->

    </section> <!-- end s-services -->

    <section id="stats" class="s-clients target-section" style="background-image: url('/static/images/triangles.png');">
        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Stats</h3>
                <h1 class="display-2 display-3--dark">What we have been doing</h1>
            </div>
        </div>
        <div class="row about-stats stats block-1-2 block-m-1-2 block-mob-full" data-aos="fade-up">
                
                <center>
                    <div class="col-block stats__col ">
    					<h4>Courses</h4>
                        <span class="stats__count">20</span>
                        <span class="stats_next">+</span>
                        <h5>Including JEE </h5>
                    </div>
                    <div class="col-block stats__col">
    					<h4>Colleges</h4>
                        <span class="stats__count">20</span>
                        <span class="stats_next">+</span>
                        <h5>Workshops & Events</h5>
                    </div>
                </center>
                <!-- <div class="col-block stats__col">
					<h4>Crowdfunding</h4>
                    <span class="stats__count">5</span>
                    <span class="stats_next">L+</span>
                    <h5>Donated</h5>
                </div>
                <div class="col-block stats__col">
					<h4>Projects</h4>
                    <span class="stats__count">15</span>
                    <span class="stats_next">+</span>
                    <h5>Projects ongoing</h5> 
                </div> -->
        </div> 
    </section>

    <!-- contact
    ================================================== -->
    <section id="contact" class="s-contact">

        <div class="overlay"></div>
        <!--<div class="contact__line"></div>-->

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Contact Us</h3>
                <h1 class="display-2 display-2--light">Reach out for gaining some knowledge</h1>
            </div>
        </div>

        <div class="row contact-content" data-aos="fade-up">
            
            <div class="contact-primary">

                <h3 class="h6">Send Us A Message</h3>

                <form name="Cform" id="CForm" method="post" action="/contactus/">
                {% csrf_token %}
                    <fieldset>
    
                    <div class="form-field">
                        <input name="name" type="text" id="name" placeholder="Your Name" value="" minlength="2" required="" aria-required="true" class="full-width">
                    </div>
                    <div class="form-field">
                        <input name="email" type="email" id="email" placeholder="Your Email" value="" required="" aria-required="true" class="full-width">
                    </div>
                    <!-- <div class="form-field">
                        <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="" class="full-width">
                    </div> -->
                    <div class="form-field">
                        <textarea name="message" id="contactMessage" placeholder="Your Message" rows="10" cols="50" required="" aria-required="true" class="full-width" style="resize:none"></textarea>
                    </div>
                    <div class="form-field">
                        <button class="full-width btn--primary">Submit</button>
                        <p style="color: white; font-weight: 200%;">{{error}}</p>{{error}}
                        <div class="submit-loader">
                            <div class="text-loader">Sending...</div>
                            <div class="s-loader">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
                    </div>
    
                    </fieldset>
                </form>

                <!-- contact-warning -->
                <div class="message-warning">
                    Something went wrong. Please try again.
                </div> 
            
                <!-- contact-success -->
                <div class="message-success">
                    Your message was sent, thank you!<br>
                </div>

            </div> <!-- end contact-primary -->

            <div class="contact-secondary">
                <div class="contact-info">

                    <h3 class="h6 hide-on-fullwidth">Contact Info</h3>

                    <div class="cinfo">
                        <h5>Where to Find Us</h5>
                        <p>
                                NATIONAL INSTITUTE OF TECHNOLOGY WARANGAL,<br>
                                HANAMKONDA, TELANGANA, INDIA - 506004
                        </p>
                    </div>

                    <div class="cinfo">
                        <h5>Email Us At</h5>
                        <p>
                            example@gmail.com
                        </p>
                    </div>

                    <div class="cinfo">
                        <h5>Call Us At</h5>
                        <p>
                            9640440384
                        </p>
                    </div>

                    <!-- <ul class="contact-social">
                        <li>
                            <a href="https://www.facebook.com/TheInnovationGarage/"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://ignitw.wordpress.com/"><i class="fa fa-wordpress"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/ig_nitw/"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="mailto:ig-nitw@student.nitw.ac.in"><i class="fa fa-envelope"></i></a>
                        </li>
                    </ul> --> <!-- end contact-social -->

                </div> <!-- end contact-info -->
            </div> <!-- end contact-secondary -->

        </div> <!-- end contact-content -->

    </section> <!-- end s-contact -->

    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div> <!-- end photoSwipe background -->


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale-pulse-out">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>